/* global.css */
body {
    background-color: #282c34;
    font-family: 'Arial', sans-serif;
  }

.App {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* full viewport height */
}

.App-header {
    flex: 1; 
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centers vertically */
    align-items: center; /* Centers horizontally */
    min-height: 100vh; /* Full height of the viewport */
    padding: 10px; 
}

.top-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #777;
    color: rgb(255, 255, 255);
    padding: 10px 20px;
}

.top-header .logo a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

.top-header .navigation a,
.top-header .auth-links a {
    color: white;
    text-decoration: none;
    margin-left: 20px;
}

.top-header .navigation a:hover,
.top-header .auth-links a:hover {
    text-decoration: underline;
}


.bottom-header {
    background-color: #707070;
    color: white;
    padding: 10px;
    text-align: center;
    margin-top: auto; 
}

.bottom-header .footer-links a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
}

.bottom-header .footer-links a:hover {
    text-decoration: underline;
}
  
button {
    background-color: #3859ff;
    color: white;
    padding: 4px 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 3px 2px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #2146fe;
}

/* Basic input field styling */
input[type="text"],
input[type="password"],
input[type="email"],
input[type="number"] {
    width: 50%;
    padding: 1px 10px;
    margin: 10px 0;
    display: inline-block;
    box-sizing: border-box;
    font-size: 14px; /* Set your desired font size */
}

/* Adjust the focus style as needed */
input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus,
input[type="number"]:focus {
    border-color: #3859ff;
    outline: none;
}

.back-button {
    /* Styling properties */
    padding: 8px 15px;
    margin-top: 20px;
    color: white;
    border: none;
    cursor: pointer;
}

p{
    font-size: 20px;
    font-family:'Times New Roman', Times, serif
}

.button-style {
    display: inline-block;
    padding: 10px 15px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: white;
    background-color: #3859ff; /* Green, matching the other buttons */
    border: none;
    transition: background-color 0.3s ease, color 0.3s ease; /* Add color transition */
}

.button-style:hover {
    background-color: #2146fe; /* Match the hover color of other buttons */
    color: white; /* Change text color on hover */
}

.button-style:active {
    background-color: #0e36fd; /* Match the active color of other buttons */
}


.form-container {
    background-color: #333945; /* A slightly lighter color than the page's background */
    padding: 20px; /* Adjust padding as needed */
    width: 100%; /* Set a width or max-width for smaller screens */
    max-width: 400px; /* Adjust as needed */
    padding: 20px;
    border-radius: 50px; /* Optional: Rounds the corners */
}

a {
    color: #3859ff; /* Green color for links */
    text-decoration: none;
    transition: color 0.3s ease;
}

a:hover {
    color: #2146fe; /* Hover color for links */
}

a:active {
    color: #333; /* Active color for links */
}

h1 {
    color:white;
    font-size: 36px; /* Adjust the size as needed */
    font-weight: bold;
    text-transform: uppercase; /* Optionally, convert text to uppercase */
}

.profile-form {
    width: 50%; /* Adjust the width as needed */
    margin: 10px auto; /* Center-align the forms and provide spacing */
  }
  
  .profile-form input,
  .profile-form button {
    width: 100%; /* Make input fields and buttons fill the form width */
    margin: 5px 0; /* Add spacing between input fields and buttons */
  }
  
  .user-info-container {
    background-color:  #333945;/* Set a background color for the container */
    padding: 30px; /* Add padding for spacing */
    margin-bottom: 20px; /* Add space between this container and forms */
    margin-top: 20px;
  }
  
  .user-info-container p {
    margin: 5px; /* Add spacing between paragraphs */
  }
  
  .user-info-container button {
    background-color: #1733bb; /* Match the button style */
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    margin-top: 10px; /* Add space above the button */
  }
  
  .user-info-container button:hover {
    background-color: #2146fe; /* Match the button hover style */
  }
  
  .centered-links {
    text-align: center; /* Center-align the links */
    margin-top: 10px; /* Add space above the links */
  }
  
  .centered-links a {
    font-size: 14px; /* Adjust the font size as needed */
    text-decoration: none; /* Remove underlines from links */
    color: rgb(255, 251, 251); /* Set the link color to black */
    margin: 0 7px; /* Add space between the links horizontally */
    display: block; /* Display each link as a block element, making them stack vertically */
  }
  
  .centered-links a:hover {
    color: #222222; /* Set the link color on hover */
  }
  
  /* Style for paid user content */
.paid-user-content {
    width: 95%;
    margin: 10px 10px;
    margin-bottom: 10px;
    padding: 100px; /* Add padding for spacing */
    background-color: #7a7a7a; /* Yellow background color */
    text-align: center; /* Center-align text */
    height: 400px;
}

/* Style for regular user content */
.regular-user-content {
    width: 95%;
    margin: 10px 10px;
    padding: 100px; /* Add padding for spacing */
    background-color: #cfcfcf; /* Light blue background color */
    text-align: center; /* Center-align text */
    height: 400px;
}

.image-container {
    position: relative;
    text-align: center;
    color: white; /* or whatever maximum height you prefer */
    overflow: hidden; 
}

.image-container img {
    width: 100%;
    height: auto;
}

.image-text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.8); /* Black background with 50% opacity */
    padding: 100%; /* Adjust padding as needed */
}

.main-text {
    background-color: #383f4b;/* Example: white with some transparency */
    margin: 20px;
    padding: 50px;
    text-align: center;
    border-style: solid; 

    h2{
        color:white;
    }

    p{
        color:white;
    }
  }

  .main-text2 {
    background-color: #383f4b; /* Example: white with some transparency */
    margin: 20px;
    margin-top: -5px;
    padding: 50px;
    text-align:left;
    border-style: solid;   height: 350px; /* Fixed height */
    overflow-y: scroll; /* Allows vertical scrolling */

    h2{
        color:white;
    }

    p{
        color:white;
    }
  }

.error-message {
    color: red;
    margin-top: 5px;
    font-size: 10px;
    text-align: center;
}

.main-text2 h2 {
    color: white;
}

.main-text2 p {
    color: white;
}

.main-text h2 {
    color: white;
}

.main-text p {
    color: white;
}

@media screen and (max-width: 768px) {
    .top-header .auth-links a {
        font-size: 15px; /* Smaller font size for mobile devices */
    }
    
    .image-container img {
        width: 100%;
        height: 100%;
    }

    .image-text{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: rgba(0, 0, 0, 0.5); /* Black background with 50% opacity */
        padding: 100%; /* Adjust padding as needed */
        border-radius: 10%;
    }

    .main-text {
        background-color: #383f4b; /* Example: white with some transparency */
        padding-top: 40%;
        text-align: center;
        margin: 2%; /* Adjust as needed to act as a divider */
        border-style: solid; height: 500px;
      }

      .main-text2 { 
        background-color: #383f4b; /* Example: white with some transparency */
        margin: 2%;
        text-align:left;
        border-style: solid; 
        padding: 50px;
        border-style: solid;   height: 450px;
      }

    .main-text2 h2 {
        color: white;
    }
    
    .main-text2 p {
        color: white;
    }

    .main-text h2 {
        color: white;
    }
    
    .main-text p {
        color: white;
    }
}